{% extends "game/base_liberal.html" %}
{% block content %}
    {% if user.get_username == object.chancellor %}
    <h1>Choose a card to discard</h1>
    <form action="#" method="get">
        <input type="submit" class="btn btn-outline-liberal btn-lg btn-block" value={{object.get_card1}} name="discard1">
        <input type="submit" class="btn btn-outline-liberal btn-lg btn-block" value={{object.get_card2}} name="discard2">
        {% if object.fascist_count == 5 %}
            {% if object.veto_done is False %}
                <h2>5 Fascist Policies have been passed, you may veto and the game will continue as though the election failed</h2>
                <input type="submit" class="btn btn-outline-liberal btn-lg btn-block" value="Veto" name="veto">
            {% endif %}
        {% endif %}
    </form>
    {% else %}
        <h1>Wait for {{ object.chancellor }} to discard a policy</h1>
    {% endif %}
{% endblock content %}