{% extends "game/base_fascist.html" %}
{% block content %}
    {% if user.get_username == object.president %}
    <h1>Choose someone to become the next president</h1>
    <form action="#" method="get">
        {% for player in object.get_players %}
            {% if player != object.president %}
                <input type="submit" class="btn btn-outline-fascist btn-lg btn-block" onClick="window.location.reload();" value={{player}} name="appoint">
            {% endif %}
        {% endfor %}
    </form>
    {% else %}
        <h1>Wait for {{ object.president }} to appoint someone</h1>
    {% endif %}
{% endblock content %}